.skills-container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 
 .skills-title{
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 230px;
     line-height: 169px;
     display: flex;
     align-items: center;
     text-align: center;
 
     color: #7D9C6F;
 
     opacity: 0.7;
     transform: rotate(-7.5deg);
 }
 
 .skills-content{
     width: 500px;
     align-items: stretch;
     height: 500px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     background-color: white;
     opacity: 0.7;
 }
 
 .top-bar{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 .node{
     width: 150px;
     height: 100px;
 }
 
 img{
     width: 100%;
     height: 100%;
 }
 
 .react{
     width: 150px;
     height: 100px;
     color: #60DBFB;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .react h2{
     margin: 0px;
 }
 
 .center-bar{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-content: center;
 }
 
 .center-bar img{
     width: 350px;
 }
 
 .bottom-bar{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 .angular{
     width: 150px;
     height: 100px;
     color: #C3002F;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .redux{
     width: 130px;
     height: 90px;
     color: #764ABC;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 