.about {
  padding-top: 60px;
  margin-bottom: 60px;
  background-color: rgb(241, 241, 241);
  /* background-color: rgb(248, 248, 248); */
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.about-container::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(156, 156, 156);
}

.about-center {
  display: flex;
  height: 500px;
  width: 80%;
}

.about-text {
  margin-top: 50px;
  position: absolute;
  left: 50vw;
  width: 1235px;
  height: 300px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 200px;
  line-height: 169px;
  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(52, 109, 163, 0.8);

  opacity: 0.7;
  transform: rotate(-7.5deg);
}

.about-info-container {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-info-container::after {
  content: "";
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background: #e0b9b9;
  opacity: 0.71;
  /* border-radius: 10px;  */
}

.about-info-1,
.about-info-2 {
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-weight: 800;
  font-size: 1.1rem;
  color: #1e3c69;
  line-height: 120%;
  z-index: 1;
  letter-spacing: 1px;
}

.about-info-1 {
  width: 340px;
}

.about-info-2 {
  width: 340px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1124px) {
  .about-text {
    font-size: 150px;
  }
}

@media (max-width: 780px) {
  .about {
    margin: 0px;
    padding: 0px;
  }
  .about-center {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
  }

  .about-info-container > p {
    font-size: 1rem !important;
  }

  .about-text {
    padding: 50px 0px;
    position: inherit;
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: 50px;
    line-height: 9px;
    transform: rotate(0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
}

@media (max-width: 400px) {
  .about-text {
    width: 300px;
    line-height: 9px;
    font-size: 50px;
  }

  .about-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
  }

  .about-info-container::after {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #e0b9b9;
    opacity: 0.8;
  }

  .about-info-1,
  .about-info-2 {
    text-align: justify;
    font-weight: 600;
    color: #1e3c69;
    line-height: 120%;
    z-index: 1;
    margin-left: 15px;
  }

  .about-info-1 {
    width: 280px;
  }

  .about-info-2 {
    width: 280px;
  }
}
