

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}

.fade-in-project {
	opacity: 1;
	animation-name: fadeInOpacityProjects;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 0.4s;
}

@keyframes fadeInOpacityProjects {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media(max-width:800px){
    .project-container{
        grid-template-columns: repeat(auto-fill, 500px);
        justify-content: center;
    }
}

@media(max-width:420px){

    .project-container{
        grid-template-columns: repeat(auto-fill, 350px);
        justify-content: center;

    }
}