.navbar {
  min-height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* .logo{
    color:rgb(92, 48, 48);
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:20px;
  }
  
  .logo:hover{
    cursor: pointer;
  } */

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.nav-links li {
  padding: 10px;
  position: relative;
  list-style: none;
  font-size: 17px;
}

.navlink-home a {
  color: rgb(221, 235, 253);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 17px;
}

.navlink-home .active {
  border-bottom: 2px solid white;
}

.navlink-home li:hover {
  cursor: pointer;
  color: white;
}

.navlink-other-pages a {
  color: rgb(65, 116, 182);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.navlink-other-pages .active {
  border-bottom: 2px solid rgb(65, 116, 182);
}

.navlink-other-pages li:hover {
  cursor: pointer;
  color: rgb(38, 80, 136);
}

a:link {
  text-decoration: none;
}

.burger {
  margin-right: 50px;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3 ease;
}

.burger-home {
  background-color: white;
}

.burger-other-pages {
  background-color: #265088;
}

@media (min-width: 780px) {
  .burger {
    display: none;
  }
}

@media (max-width: 780px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #274664;
    width: 50%;
    transition: transform 0.5s ease-in;
  }

  .navlink-home .active {
    border-bottom: none;
  }

  .navlink-other-pages .active {
    border-bottom: none;
  }

  .nav-links li {
    text-align: center;
    opacity: 0;
  }

  .nav-links {
    padding-left: 0px;
  }

  .active {
    border: none;
  }

  .navlink-home li:hover {
    color: rgb(65, 115, 180);
  }
  .navlink-other-pages li:hover {
    color: rgb(65, 115, 180);
  }

  .burger {
    cursor: pointer;
  }

  .nav-links {
    transform: translateX(100%);
  }

  .nav-active {
    transform: translateX(0);
  }

  .nav-active li {
    color: white;
    animation-name: navLinkFrame;
    animation-duration: 0.5s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
  }

  @keyframes navLinkFrame {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .burger-active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-active .line2 {
    opacity: 0;
  }

  .burger-active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 600px) {
  /* .navbar{
    display: flex;
    justify-content: space-evenly;
  } */
}
