.navbarComponent {
  z-index: 2;
  position: fixed;
}

.navbar {
  width: 300px;
  min-height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgb(221, 235, 253, 0.5);
  transform: translateX(-400px);
  transition: transform 0.5s;
}

/* .logo{
    color:rgb(92, 48, 48);
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:20px;
  }
  
  .logo:hover{
    cursor: pointer;
  } */

.nav-links {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  padding: 10px;
  margin: 50px 0px;
  position: relative;
  list-style: none;
  font-size: 17px;
}

.navlink-home a {
  color: rgb(42, 77, 124);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 17px;
}

.navlink-home .active {
  border-bottom: 2px solid white;
}

.navlink-home li:hover {
  cursor: pointer;
  color: white;
}

.navlink-other-pages a {
  color: rgb(65, 116, 182);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.navlink-other-pages .active {
  border-bottom: 2px solid rgb(65, 116, 182);
}

.navlink-other-pages li:hover {
  cursor: pointer;
  color: rgb(38, 80, 136);
}

a:link {
  text-decoration: none;
}

.burger {
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 2;
  position: fixed;
  top: 40px;
  left: 70px;
}

.burger > div {
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3 ease;
  background-color: #66a5e4;
}

.removeBurger {
  display: none;
}

.navbarTransition {
  transform: translateX(0px);
}

.cross {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

.closeLine1 {
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: #274664;
  transform: rotate(-45deg) translate(-5px, 0px);
}

.closeLine2 {
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: #274664;
  transform: rotate(45deg) translate(-5px, 0px);
}

/* @media (min-width: 780px) {
  .burger {
    display: none;
  }
} */

@media (max-width: 780px) {
  body {
    overflow-x: hidden;
  }

  /* .nav-links {
    position: absolute;
    right: 0px;
    top: 8vh;
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #274664;
    width: 50%;
    transition: transform 0.5s ease-in;
  }

  .navlink-home .active {
    border-bottom: none;
  }

  .navlink-other-pages .active {
    border-bottom: none;
  }

  .nav-links li {
    text-align: center;
    opacity: 0;
  }

  .nav-links {
    padding-left: 0px;
  }

  .active {
    border: none;
  }

  .navlink-home li:hover {
    color: rgb(65, 115, 180);
  }
  .navlink-other-pages li:hover {
    color: rgb(65, 115, 180);
  }

  .nav-links {
    transform: translateX(100%);
  }

  .nav-active {
    transform: translateX(0);
  }

  .nav-active li {
    color: white;
    animation-name: navLinkFrame;
    animation-duration: 0.5s;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
  }

  @keyframes navLinkFrame {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  } */

  .burger-active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-active .line2 {
    opacity: 0;
  }

  .burger-active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 600px) {
  /* .navbar{
    display: flex;
    justify-content: space-evenly;
  } */
}
